@using WebMatrix.Data
@{
    Page.Title = "";
    Layout = "~/Layout/_LayoutStoryPage.cshtml";
}
<main>
    <div id="background">
        <div id="empty"></div>
        <div class="container">
<h1>Californië (Los Angeles - Hollywood) - Bezoek Warner Bros Studio's incl. tour</h1>
<p>Zeer leuke en interessante tour. Je wordt in een beperkte groep met een groot "golfkarretje"
            rondgeleid op het studioterrein en in sommige studio's. Tussendoor krijg je voldoende ruimte voor
            foto's te nemen (filmen mag niet). Je mag de set van “Friends” en de set van talkshow Ellis Degeneris
            bezoeken. Ook een bezoek aan het Batman museum. Exposities van filmkostuums en attributen zijn
            heel leuk. De backlot met achtergrondverhalen van de big bang theory en op de foto als Oscar
            winner of met de hoed van Harry Potter. Vooraf boeken is een pré; kaartjes zijn ca. € 65,00 p.p.</p>
        </div>
    </div>
</main>