@using WebMatrix.Data
@{


    


    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Bezoekers.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    Page.Title = "Westcoast USA";
    Layout = "/Layout/_LandingPage.cshtml";

    Validation.RequireField("naam", "U heeft nog geen naam ingevuld");
    Validation.RequireField("gebruikersnaam", "U heeft nog geen gebruikersnaam ingevuld");
    Validation.RequireField("mailadres", "U heeft nog geen e-mailadres ingevuld");
    Validation.RequireField("wachtwoord", "U heeft nog geen wachtwoord ingevuld");

    var naam = "";
    var gebruikersnaam = "";
    var mailadres = "";
    var wachtwoord = "";

    //Registreren
    if (IsPost)
    {
        if (Request.Form["regButton"] != null)
        {


            naam = Request.Form["regNaam"];
            gebruikersnaam = Request.Form["regGebNaam"];
            mailadres = Request.Form["regMail"];
            wachtwoord = Request.Form["regPass"];


            var insertCommand = "INSERT INTO Registratie (Naam, Gebruikersnaam, Mailadres, Wachtwoord) Values(@0, @1, @2, @3)";
            db.Execute(insertCommand, naam, gebruikersnaam, mailadres, wachtwoord);
            Response.Redirect("~/LandingPage2.cshtml");
        }

        else if (Request.Form["logButton"] != null)
        {
            //login
            mailadres = Request.Form["logMail"];
            wachtwoord = Request.Form["logPass"];

            //Hieronder geef je aan dat apestaartje 0 mailadres is
            var query = db.QuerySingle("SELECT Wachtwoord, Id FROM Registratie WHERE Mailadres=@0", mailadres);
            if (query.Wachtwoord == wachtwoord)
            {
                Session["ID"] = query.Id;

            }
            else
            {

            }
            db.Close();
        }
    }

    ////Inloggen
    //if (Request.Form["inlog"] != null && Validation.IsValid())
    //{
    //    mailadres = Request.Form["mailadres"];
    //    wachtwoord = Request.Form["wachtwoord"];

    //    //Hieronder geef je aan dat apestaartje 0 mailadres is
    //    var query = db.QuerySingle("SELECT Wachtwoord Registratie FROM Bezoekers WHERE Mailadres=@0", mailadres);
    //    if (query.Wachtwoord == wachtwoord)
    //    {
    //        Session["ID"] = query.Registratie;

    //    }
    //    else
    //    {

    //    }
    //    db.Close();
    //}


}
<div id="background">
<div id="home">
    <div class="landing-page">
        <div class="page-content">
            <h1>hoi</h1>
            <p>
                Reis je door Amerika dan voelt het of ben je in een film.<br />
                De wegen, de steden, de huizen. Alles is zo herkenbaar van de televisie...
            </p>
            <a href="#text">Net als in de film...</a>
        </div>
    </div>
</div>
<div class="break"></div>
<div id="text">
    <div id="empty"></div>
    <div class="content">
        <div class="container">
    <h1>Net als in de film...</h1>
    <p>
        Reis je door Amerika dan voelt het of ben je in een film.
        De wegen, de steden, de huizen. Alles is zo herkenbaar van de televisie.
        Heb je wel eens een western op TV gezien, dan verwacht je zo dat Clint Eastwood op zijn paard komt rijden.
        Amerika is groot en wijds. 
        Rij je van oost naar west of andersom dan verandert het uitzicht regelmatig. 
        En dan het spoor. 
        Dat is zo ontzettend lang en dan die treinen, je staat zo 5 tot 10 minuten te wachten voor een overweg voordat de trein voorbij is.<br />
        <br />
        Alles is groot (big) de auto’s, in de steden de gebouwen, supermarkten van winkel, verpakkingen tot de winkelwagen.
        Daarnaast zie je ook dat mensen in kleine woningen leven. Voor ons zo groot als een stacaravan.
        In de middle of no where zijn er geen voorzieningen maar er staan dan wel een paar kleine huisjes/stacaravans waar veel oud ijzer/auto’s omheen ligt. 
        Wij noemen dat rotzooi wat we naar de afvalverwerking brengen. 
        Vaak zie je in afgelegen gebieden heel veel brievenbussen op een rij en de huizen zijn dan ergens verspreid in het gebied. 
        Soms zie je helemaal geen huizen staan, alleen brievenbussen.<br />
        <br />
        De mensen zijn aardig vaak heel erg aardig. 
        M.n. in restaurants. 
        Maar zodra je hebt afgerekend, dan ben je soms niet meer die klant die daarvoor nog zo in de watten werd gelegd. 
        Dat is overigens niet in alle restaurants het geval. 
        Vaak vragen ze waar je weg komt. 
        En als ze weten dat je uit Nederland komt, dan is het helemaal oké. 
        Heeft de serveerster bekenden in Nederland dan kan het voorkomen dat je ze gaan omhelzen. <br />
        <br />
        Het eten in de restaurants is goed, veel en vaak wel wat te vet.
        Een goed restaurant is Denny’s. 
        24 uur per dag open. 
        Voor ontbijt aten wij altijd het vegetarische menu met eieren, groentes en toast. 
        Genoeg om de hele dag op te leven. 
        Maar je ziet ook klanten die rustig pancakes en een steak met friet opeten, ’s morgens om 8.00 uur.<br />
        <br />
        Je kan ook goed Mexicaans eten. 
        Deze restaurants zijn verspreid door het hele land en worden gerund door Mexicanen zodat je ook de echte Mexicaanse keuken kan proeven.
        Bestel niet te veel want vooraf krijg je standaard een bak (gratis) chips met salsa en ze vullen dat met alle liefde voor je aan als je niet genoeg hebt.<br />
        <br />
        <b>Overnachtingen en ontbijten</b><br />
        Je kunt prima overnachten in Amerika. De keuze is reuze.
        Je hebt motels die worden beheerd door één of meerdere personen en er zijn motel/hotel ketens bv. M6, Super 8, Best Western. 
        Soms met continental breakfast. Dat stelt niet veel, vaak wat toast en/of muffins, koffie en thee bij de receptie, sober ingerichte ruimte met beperkte zit ruimte. 
        Je kan het ook meenemen naar je kamer.
        Wij haalden vaak in de supermarkt een doos met cornflakes o.i.d. 
        ’s Avonds nog even een kleine can met melk (de rode) kopen bij de plaatselijke benzinepomp of supermarkt en dan de volgende ochtend in de kamer in een (meegebrachte bakjes en lepels) even opeten. 
        Gaat ook prima. 
        Maar je kunt ook prima ontbijten in de restaurants in de buurt van het motel of onderweg. 
        Vaak is er wel een restaurant open. 
        Zelfs in een dorp zo groot als Wirdum/Bitgum/Ried is wel een motel met restaurant. 
        En anders rijd je eerst een stuk en vind je onderweg wel iets leuks. 
        Soms ook nog wel in de jaren 60 stijl.
        De prijzen van motels lopen erg uiteen. 
        Dus even “shoppen” in de plaats is raadzaam. 
        Daarbij wel de kamer even bekijken. 
        Een dure kamer is niet altijd de beste en een goedkope kamer kan soms heel erg meevallen. 
        Vooruit boeken is vaak niet nodig tenzij je met meer dan 2 personen bent. 
        En vooruit boeken kan goedkoper zijn m.n. bij ketens. 
        Ben je 60 jaar of ouder dan heb je soms senior sitizens korting.<br />
        <br />
        <b>Amerika kent heel veel nationale parken en State parken</b><br />
        Dit zijn gebieden die speciale bescherming krijgen vanwege de prachtige natuur en men wil dit in oorspronkelijke staat behouden. 
        Daarbij wil men wel dat iedereen deze parken kan bezoeken. 
        In deze parken zijn parkwachters aanwezig die informatie geven en rondleidingen. 
        Yellowstone Park (niet op deze website) was de eerste nationale park.
        Er zijn parken die heten National monument deze parken zijn van Historisch belang. 
        State parken worden beheert door de Staat zelf. 
        Zo heeft elke staat zijn eigen State Park Organisatie.
        <br />
        De entree betaal je vaak per auto. Maar voor de nationale parken is ook een pas verkrijgbaar waarbij je een éénmalig bedrag betaalt voor alle nationale parken en is 1 jaar geldig. 
        Deze pas heet America the Beautiful Pass en kost 80 dollar (2018).
        Bij de ingang van het park is een hokje met een medewerker die je van informatiemateriaal en een overzichtelijk kaartje van het park met bezienswaardigheden verzorgt.
    </p>
        </div>
        </div>
</div>
<div class="break"></div>
<div id="maps">
    <div id="empty"></div>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?AIzaSyCHDtWgo6qUgMWnK5sUwf2qFXOUHKI4gqc"></script>
    <script type="text/javascript">

        var locations = [
            ['Antelope Canyon', 36.861910, -111.374330, 10],
            ['National Park Grand Canyon', 36.115161, -112.115688, 9],
            ['Hollywood', 34.092889, -118.325963, 8],
            ['Los Angeles', 34.052235, -118.243683, 7],
            ['San Francisco', 37.733795, -122.446747, 6],
            ['Organ Pipe Cactus National Monument', 32.038374, -112.939584],
            ['Calico Ghost Town', 34.943572, -116.865911, 4],
            ['Joshua Tree', 33.7883944, -115.8982222, 3],
            ['Sequoia National Park', 36.486366, -118.565750, 2],
            ['Yosemite National Park', 37.865101, -119.538330, 1]
        ];

        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 34.008778, lng: -118.206061 },
            zoom: 5.5
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }

    </script>
</div>
<div class="break"></div>
<div id="list" class="container">
    <div id="empty"></div>

    <div class="listtitle">
        
        <h2>Verhalen</h2>
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="~/Image/IMG_2143.JPG" alt="">
                <div class="overlay">
                    <h2>National Park Grand Canyon - Arizona</h2>
                    <p>
                        <a href="#">Lees hier</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="~/Image/DSC_5172.JPG" alt="">
                <div class="overlay">
                    <h2>Yosemite National Park - Californië</h2>
                    <p>
                        <a href="#">Lees hier</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="~/Image/IMG_1771.JPG" alt="">
                <div class="overlay">
                    <h2>Antelope Canyon - Arizona</h2>
                    <p>
                        <a href="#">Lees hier</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="~/Image/DSC_6565.JPG" alt="">
                <div class="overlay">
                    <h2>Joshua Tree - Californië</h2>
                    <p>
                        <a href="#">Lees hier</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="~/Image/IMG_1321.JPG" alt="">
                <div class="overlay">
                    <h2>Alcatraz Island - Californië</h2>
                    <p>
                        <a href="#">Lees hier</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="~/Image/IMG_1634.JPG" alt="">
                <div class="overlay">
                    <h2>Las Vegas - Californië</h2>
                    <p>
                        <a href="#">Lees hier</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="~/Image/DSC_5844.JPG" alt="">
                <div class="overlay">
                    <h2>Calico Ghost Town - Californië</h2>
                    <p>
                        <a href="#">Lees hier</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="~/Image/DSC_5348.JPG" alt="">
                <div class="overlay">
                    <h2>Sequoia National Park - Californië</h2>
                    <p>
                        <a href="#">Lees hier</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
    @*<div id="list">
    <div class="content">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project One</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Two</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Three</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Four</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Five</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Project Six</a>
                            </h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque earum nostrum suscipit ducimus nihil provident, perferendis rem illo, voluptate atque, sit eius in voluptates, nemo repellat fugiat excepturi! Nemo, esse.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- Pagination -->
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#list">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#list">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#list">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
@*</div>*@
<div class="break"></div>
<div id="gallery">
<div id="empty"></div>

</div>
<div class="break"></div>
    @if (Session["ID"] == null)
    {
<div id="loginregist">
    
    <div class="container login-container">
        <div id="empty">
    </div>
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Registreren</h3>
                <form method="post">
                    <div class="form-group">
                        <input name="regNaam" type="text" class="form-control" placeholder="Naam*" />
                    </div>
                    <div class="form-group">
                        <input name="regGebNaam" type="text" class="form-control" placeholder="Gebruikersnaam*" />
                    </div>
                    <div class="form-group">
                        <input name="regMail" type="text" class="form-control" placeholder="E-mailadres*"  />
                    </div>
                    <div class="form-group">
                        <input name="regPass" type="password" class="form-control" placeholder="Wachtwoord*"  />
                    </div>
                    <div class="form-group">
                        <input name="regButton" type="submit" class="btnSubmit" value="Registreer" />
                    </div>

                </form>
            </div>

            <div class="col-md-6 login-form-2">
                <h3>Inloggen</h3>
                <form method="post">
                    <div class="form-group">
                        <input name="logMail" type="text" class="form-control" placeholder="Emailadres" value="@Request.QueryString["mailadres"]" />
                    </div>
                    <div class="form-group">
                        <input name="logPass" type="password" class="form-control" placeholder="Wachtwoord" value="@Request.QueryString["wachtwoord"]" />
                    </div>
                    <div class="form-group">
                        <input name="logButton" type="submit" class="btnSubmit" value="Log in" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
    }
    </div>
<div class="break"></div>
<a class="gotupbtn" href="#"><i class="fas fa-chevron-up"></i></a>
