html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: "montserrat", sans-serif;
    background: #354737;
}
#background {
    background: #354737;
}
#empty {
    height: 8vh;
    width: 100%; 
}
.break {
    height: 80px;
    
}
.landing-page {
    width: 100%;
    height: 100vh;
    background: #000;
    position: relative;
    overflow: hidden;
}
.landing-page:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(https://northeurope1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https://newuniversity-my.sharepoint.com:443/_api/v2.0/drives/b!u2zrdX41oEqlM8_qatjQm9KvFhiedZpCtIKYIwkojIwNP36tE4dNTKLwasa8dnGP/items/012JH6KHYF4QUDLPFAZNBYUIXCXJF22TBJ%3Fversion%3DPublished&encodeFailures=1&ctag=%22c:{3528E405-A0BC-43CB-8A22-E2BA4BAD4C29},3%22&width=1366&height=585&srcWidth=&srcHeight=) no-repeat;
        background-size: cover;
        opacity: 0.2;
        animation: anim 25s linear infinite;
    }

@keyframes anim {
    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}
.page-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0 40px;
    box-sizing:border-box;
}
.page-content h1{
    color: #b35417;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}
.page-content p{
    color:#fff;
    margin-bottom: 20px;
}
    .page-content a {
        display: inline-block;
        text-decoration: none;
        color: #b35417;
        border: 2px solid #b35417;
        text-transform: uppercase;
        padding: 10px 20px;
        transition: 0.4s linear;
    }
        .page-content a:hover {
            color: #fff;
            background: #b35417;
        }

.content {
    width: 100%;
    height: auto;
    background: #EBE5DB;
    border-radius: 10px;
    padding: 20px;
}
.content h3{
    text-align: center;
}

#map {
    height: 92vh;
    width: 100%;
}

.gotupbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #b35417;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1 {
    padding: 5%;
    background: red;
}


.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-1 {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

    .login-form-1 h3 {
        text-align: center;
        color: #333;
    }

.login-form-2 {
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

    .login-form-2 h3 {
        text-align: center;
        color: #fff;
    }

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-2 .btnSubmit {
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}

.login-form-2 .ForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
